{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to {{title}}</p> --}}
<body id="body-home">
    
    <div id="home">

        <div id="cinema-ironhack">

        <h1>Cinema <br>Ironhack</h1>
        {{!-- <h1>Ironhack</h1> --}}

        </div>

        <a href="/movies">
            <button id="go-to-movies">
                <h3>Go to Movies</h3>
            </button>
        </a>

    </div>

</body>
