<body id="body-list">

    <div>

        <h2>Ironhack Cinema</h2>

        <h3>Click on the movie to check the showtimes!</h3>


    </div>


    <div id="movies">

        {{#each this.allMovies}}
            <div>
                <img class="movie-image" src="{{this.image}}" alt="movieImage">
                <h4>{{this.title}}</h4>
                <a href="/movie/{{this._id}}">See more</a>
            </div>
        {{/each}}

    </div>
    
</body>